/* Styles pour le bouton de signet */
#bookmark-button {
   background: none !important;
   border: none !important;
   color: rgb(209, 207, 207) !important;
   font-size: 13px !important;
   font-family: Century Gothic, sans-serif;
   cursor: pointer !important;
   display: flex !important;
   align-items: center !important;
}

#bookmark-button svg {
   margin-right: 5px !important;
}

/* Styles pour les icônes et conteneurs de signets */
.custom-bookmark-icon-container {
   position: absolute;
   bottom: 40px;
   z-index: 2000;
}

.custom-bookmark-icon {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: red;
   cursor: pointer;
   transition: all 0.3s ease;
}

.custom-bookmark-icon:hover {
   width: 23px;
   height: 23px;
}

.custom-bookmark-info-container {
   position: absolute;
   bottom: 25px;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(5px);
   color: white;
   border-radius: 4px;
   border: 2px solid #ff0000;
   padding: 6px;
   min-width: 17px;
   min-height: 17px;
   margin-bottom: 3px;
   display: block;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, visibility 0.3s ease;
}

.custom-bookmark-note {
   font-size: 14px;
   margin-right: 20px; 
   padding: 5px;
   color: white;
}

.custom-bookmark-delete-icon {
   position: absolute;
   top: 50%;
   right: 3px;
   transform: translateY(-50%);
   cursor: pointer;
   font-size: 18px;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Affichage des éléments au survol */
.custom-bookmark-icon-container:hover .custom-bookmark-delete-icon,
.custom-bookmark-info-container:hover .custom-bookmark-delete-icon {
   opacity: 1;
   visibility: visible;
   transition-delay: 0s;
}

.custom-bookmark-delete-icon:hover {
   transform: translateY(-50%) scale(1.2);
}

/* Afficher le conteneur d'info au survol */
.custom-bookmark-icon-container:hover .custom-bookmark-info-container,
.custom-bookmark-info-container:hover {
   opacity: 1;
   visibility: visible;
   transition-delay: 0s;
   transform: translateX(-50%) translateY(0);
}

/* Délai pour la disparition */
.custom-bookmark-icon-container .custom-bookmark-info-container,
.custom-bookmark-icon-container .custom-bookmark-delete-icon {
   transition-delay: 1s;
}

/* Styles pour les messages */
.youtube-bookmarker-message {
   position: fixed;
   top: 10px;
   right: 10px;
   padding: 10px;
   border-radius: 5px;
   z-index: 9999;
   font-family: Arial, sans-serif;
}

.youtube-bookmarker-message.info {
   background-color: #e8f5e9;
   color: #1b5e20;
   border: 1px solid #1b5e20;
}

.youtube-bookmarker-message.error {
   background-color: #ffebee;
   color: #b71c1c;
   border: 1px solid #b71c1c;
}

/* Pour addBookmark */
.bookmark-input-container {
   position: absolute;
   bottom: 70px;
   z-index: 2000;
   transform: translateX(-50%);
}

.bookmark-input {
   margin-right: 10px;
   padding: 5px;
}

/* popup.html */
html, body {
   width: 800px;
   height: 600px;
   margin: 0;/* Supprimez les marges par défaut */
   padding: 0; /* Sup primez le remplissage par défaut */
   overflow: hidden; /* Évitez le défilement si nécessaire */  
}
.bookmark-item {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.bookmark-item img {
   margin-right: 10px;
}
.notes-list {
   display: none;
   margin-left: 20px;
}
.bottom-bar {
   position: sticky;
   bottom: 0;
   background-color: #f0f0f0;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.rating {
   font-size: 24px;
   color: gold;
}
